#{extends 'main.html'/}
#{set title:'Admin'/}

<div>
	<!-- menu -->
	#{menu name:"${user.firstname}" /}
	
	<!-- content -->
	<div class="container">
		<div class="col-lg-3">
			<div>
				<div class="list-group">
					<a href="#" class="list-group-item active">
					   Create a new Shelve
					</a>
					<a class="list-group-item">
						<div class="overflow-auto">
							#{form @Application.addResource()}
								<input type="text" name="title" value="${flash.title}" class="form-control"></br><span class="error">#{error 'title'/}</span>
								<input type=text" list="categories" name="category" value="${flash.category}" class="form-control">
								<datalist id="categories">
									#{list items=categories, as:'category'}
										<option value="${category.category}">
									#{/list}
								</datalist></br>
								<span class="error">#{error 'category'/}</span>
								<input type="file" name="book" class="form-control"></br><span class="error">#{error 'book'/}</span>
								<input type="submit" name="addresource" value="Add Book" class="btn btn-success btn-block">								
							#{/form}	
						</div>					
					</a>
					<a href="#" class="list-group-item active">
					   Book Categories
					</a>
					#{list items=categories, as:'category'}
						<a href="#${category.category.slugify()}" class="list-group-item tab" id="${category.category.slugify()}">
							${category.category}
							*{<span  class="label label-info pull-right">
								${shelve.books.size()} book${shelve.books.size().pluralize()}
							</span>}*
						</a>					
					#{/list}				 
				</div>
			</div>
		</div>
		<div class="col-lg-9">
			#{list items=categories, as:'category'}
				<div class="shelve" id="${category.category.slugify()}-tab">
					<div class="page-header shelve-name">
						<h1>
							${category.category}
							<small>
								<a href="/libraryuser/library/shelve/*{${.id}}*/books/add" class="btn btn-success btn-xs">
									Add Book(s)
								</a>
							</small>
						</h1>
					</div>
					<div class="shelve-row row">
						#{list items=books, as:'book'}
							#{if category.equals(book.category)}
								<div class="col-lg-2" style="max-width:140px; margin:0px 30px 10px 0px;">
									<div class="thumbnail book">
										<img src="holder.js/300x200" alt="" class="book-img">
										<div class="caption">	
											*{<p>
												${book.title} 
											</p>}*								
											<p align="right">	
												<a href="" data-toggle="tooltip" data-placement="top" data-original-title="Review" title="Review">
													<b class="glyphicon glyphicon-pencil"></b>
												</a>										
												<a href="" data-toggle="tooltip" data-placement="top" data-original-title="Share "title="Share">
													<b class="glyphicon glyphicon-thumbs-up"></b>
												</a>
												<a href="" data-toggle="tooltip" data-placement="top" data-original-title="Transfer" title="Transfer">
													<b class="glyphicon glyphicon-check"></b>
												</a>
												<a href="/libraryuser/library/shelve/*{${shelve.id}}*/books/${book.id}/remove" data-toggle="tooltip" data-placement="top" data-original-title="Remove" title='Remove'>
													<b class="glyphicon glyphicon-trash"></b>
												</a>
											</p>
										</div>
									</div>
								</div>
							#{/if}
						#{/list}
					</div>
				</div>
			#{/list}
		</div>	
	</div>	
</div>