<div class="caption">	
	*{<p>
		${book.title} 
	</p>}*								
	<p align="right">	
		<a href="/libraryuser/library/shelve/${shelve.id}/books/${book.id}/review" title="Review">
			<b class="glyphicon glyphicon-pencil"></b>
		</a>										
		<a href="" title="Share">
			<b class="glyphicon glyphicon-thumbs-up"></b>
		</a>
		<a href="" title="Transfer">
			<b class="glyphicon glyphicon-check"></b>
		</a>
		<a href="/libraryuser/library/shelve/${shelve.id}/books/${book.id}/remove" title='Remove'>
			<b class="glyphicon glyphicon-trash"></b>
		</a>
	</p>
</div>